@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.featured-products {
  text-align: center;
  background-color: $color-bg;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 11px;
    align-items: center;
   
  }

  &__link {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    height: 80%;
 
  }

  &__image-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 4/3;
    overflow: hidden;

    .featured-products__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__btn {
    width: 100%;
    min-width: 285px;
    padding: 18px;
    border-radius: $border-radius-btn;
    background-color: $color-primary;
    color: $btn-text-color;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
      transform: translateY(-2px);
    }

    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

