// Colors
$color-primary: #464B90;
$color-text: #656874;
$color-bg: #ffffff;
$btn-text-color: #FFFFFF;

// Breakpoints
$breakpoint-tablet: 750px;

// Spacing
$gap-mobile: 50px;
$gap-desktop: 40px;
$padding-section: 80px 40px;
$padding-card-content: 16px 8px;

// Border-radius
$border-radius-default: 8px;
$border-radius-btn: 40px;
